<!DOCTYPE html>
<html lang="en-US" xml:lang="en-US" xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <title>Rolls with this / {{header.title}}</title>
		<link href="/css/screen.css" media="screen" rel="stylesheet" type="text/css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width;initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Bowlby+One+SC' rel='stylesheet' type='text/css'>
		<base href="http://rollswiththis.com/">
	</head>
	<body>
        <header class="main_title">
            <!-- <span>RollsWithThis:</span> What do people use to get things done? -->
            <span id="rolls">Rolls</span>
            <span id="with">With</span>
            <span id="this">This</span>
            <span id="rwt_text">What do people use to get things done?</span>
        </header>

        <header>
            <a href="http://github.com/drio"><img src="images/github.png"></a>
            <a href="http://twitter.com/drio"><img src="images/twitter.png"></a>
            [ <span class="date"># interviews: {{ header.num_interviews }}</span> |
             <span class="date"># categories: {{ header.num_categories }}</span> |
             <span class="date"># wares: {{ header.num_wares }}</span> |
            <span class="date">Last update: {{ header.last }}</span> ]
        </header>

        <header>
            <a href="/">Home</a> | <a href="/about.html">About</a>
        </header>

         <div id="content">
            {% block content %} {{data.content}} {% endblock %}
         </div>

        <p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="View details of the license."> Attribution-ShareAlike Creative Commons license</a>.</p>
	</body>
</html>
