{% extends "default.html" %}
{% block content %}
<article class="interview">
  <img src="/images/portraits/{{ data.name }}.jpg" width="500" height="335" class="portrait" alt="{{ data.name }}">
  <h3 class="person">{{ data.name }}</h3>
  <p class="summary">{{ data.summary }}</p>
  <p class="details">
    Posted <time datetime="{{ data.time }}">{{ data.time }}.</time>
  </p>
  <ul class="categories">
    {% for cat in data.categories  %}
        <li><a href="/interviews/{{ cat }}/" title="View all the {{ cat }} interviews.">{{ cat }}</a></li>
    {% endfor %}
  </ul>

  {{ data.markdown }}

  <p class="license">This interview is available under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" title="View details of the license."> Attribution-ShareAlike Creative Commons license</a>.</p>
</article>
{% endblock %}


